/* html,
body,
div,
span {
  height: 100%;
  width: 100%;
  overflow: hidden;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
} */

.main-container {
  background-color: #765eb8;
  background-size: cover;
  height: 100%;
  width: 100%;
  overflow: hidden;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.chatApp {
  position: relative;
  overflow: hidden;
  height: 99%;
  margin: auto;
  margin-top: 1%;
  padding: 0;
  width: 100% !important;
}

.chatApp-one {
  background-color: #f7f7f7;
  height: 100%;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

.side {
  padding: 0;
  margin: 0;
  height: 100%;
}
.left-side {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
  z-index: 1;
  position: relative;
  display: block;
  top: 0;
}

.right-side {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
  z-index: 2;
  position: relative;
  top: -100%;
  left: -100%;
  -webkit-transition: left 0.3s ease;
  transition: left 0.3s ease;
}

.chatHead {
  padding: 10px 16px 10px 15px;
  margin: 0;
  height: 68px;
  width: 100%;
  background-color: white;
  z-index: 1000;
  border-right: 1px solid #000000;
}

.chatHead-userpic {
  padding: 0px;
  cursor: pointer;
  height: 100%;
}

.chatHead-user-pic img {
  border-radius: 50%;
  height: 40px;
  width: 40px;
  margin-top: 4px;
  margin-bottom: 4px;
}

.chatHead-name {
  padding: 0 !important;
  cursor: pointer;
}

.chatHead-user-name {
  font-weight: 700;
  font-size: 150%;
  padding-top: 10px;
  padding-left: 0;
  padding-bottom: 5px;
  text-align: left;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: #000;
  display: block;
}

.chatHead-online {
  display: none;
  padding: 0 5px;
  font-size: 12px;
}
.chatHead-compose {
  padding: 0;
}

.chatHead-compose i {
  text-align: center;
  padding: 5px;
  color: #625f5f;
  cursor: pointer;
}

.chatHead-dot {
  padding: 0;
  margin-left: 10px;
}

.chatHead-dot i {
  text-align: right;
  padding: 5px;
  color: #625f5f;
  cursor: pointer;
}

.mainSearch {
  padding: 0 !important;
  margin: 0 !important;
  height: 60px;
  width: 100%;
  background-color: #625f5f;
}

.mainSearch-inner {
  height: 100%;
  padding: 6px !important;
  background-color: white;
}

.mainSearch-inner input:focus {
  outline: none;
  border: none;
  box-shadow: none;
  background-color: #e7e7e7;
}

.form-control-feedback {
  left: 0 !important;
  right: auto !important;
  color: #625f5f;
}

.head-search {
  color: #625f5f;
  font-size: x-large;
  padding: 3px;
  cursor: pointer;
}

#userSearch {
  padding-left: 30px !important;
  background-color: #e7e7e7;
}

.userListBar {
  padding: 0 !important;
  margin: 0 !important;
  background-color: #fff;
  overflow-y: scroll;
  border: 1px solid white;
}
.userListBar-body {
  position: relative;
  padding: 10px !important;
  border-bottom: 1px solid #000000;
  height: 72px;
  margin: 0 !important;
  cursor: pointer;
}

.userListBar-body:first-of-type {
  border-top: 1px solid #000000;
}

.userListBar-body:hover {
  background-color: #f2f2f2;
}
.userListBar-userpic {
  text-align: center;
  padding: 0 !important;
}
.user-pic img {
  border-radius: 50%;
  height: 50px;
  width: 50px;
}
.userListBar-main {
  padding: 0 !important;
}

.userListBar-main .row {
  padding: 0 !important;
  margin: 0 !important;
}
.userListBar-name {
  padding: 5px !important;
}
.user-name {
  font-size: 100%;
  padding: 1% !important;
  text-align: left;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: #000;
  font-weight: bold;
}
.user-user-message-highlight {
  display: block;
  font-size: 80%;
  color: #625f5f;
  font-weight: 600;
}
.userListBar-time {
  padding: 0 30px !important;
}

.time-meta {
  text-align: right;
  font-size: 12px;
  padding: 1% !important;
  color: rgba(0, 0, 0, 0.4);
  vertical-align: baseline;
  color: #625f5f;
  font-weight: 700;
  height: 20px;
}

.pending-user-message {
  font-size: 15px;
  font-weight: 600;
  background-color: #765eb8;
  border-radius: 50%;
  height: 25px;
  width: 25px;
  color: white;
  text-align: center;
  padding: 3px;
  margin-top: 5px;
}

/*New user-message*/

.newuser-message {
  padding: 0 !important;
  margin: 0 !important;
  height: 100%;
  position: relative;
  left: -100%;
}
.newuser-message-chatHead {
  padding: 10px 16px 10px 15px !important;
  margin: 0 !important;
  height: 100px;
  width: 100%;
  background-color: #765eb8;
  z-index: 1001;
}

.newuser-message-main {
  padding: 10px 16px 0 15px !important;
  margin: 0 !important;
  height: 60px;
  margin-top: 30px !important;
  width: 100%;
  z-index: 1001;
  color: #fff;
}
.newuser-message-title {
  font-size: 18px;
  font-weight: 700;
  padding: 10px 5px !important;
}
.newuser-message-back {
  text-align: center;
  vertical-align: baseline;
  padding: 12px 5px !important;
  display: block;
  cursor: pointer;
}
.newuser-message-back i {
  margin: auto !important;
}

.chatBox {
  padding: 0 !important;
  margin: 0 !important;
  height: 60px;
  width: 100%;
}

.chatBox-inner {
  height: 100%;
  width: 100%;
  padding: 10px !important;
  background-color: #fbfbfb;
}

.chatBox-inner input:focus {
  outline: none;
  border: none;
  box-shadow: none;
}
.compose-userListBar {
  padding: 0 !important;
  margin: 0 !important;
  background-color: #fff;
  overflow-y: auto;
  border: 1px solid #f7f7f7;
  height: calc(100% - 160px);
}

/*chatWindow*/

.chatWindow {
  padding: 0 !important;
  margin: 0 !important;
  height: 100%;
}

.user-message {
  padding: 0 15px !important;
  margin: 0 !important;

  background-color: #765eb8;
  overflow-y: auto;
  height: 594px;
  /* height: calc(100% - 140px); */
}
.user-message-previous {
  margin: 0 !important;
  margin-top: 30px !important;
  padding: 0 !important;
  height: auto;
  width: 100%;
}
.previous {
  font-size: 15px;
  text-align: center;
  padding: 10px !important;
  cursor: pointer;
}

.previous span {
  text-decoration: none;
  font-weight: 700;
  color: #000;
  background-color: #d9d9d9;
  padding: 5px 15px;
  border: #000;
}

.user-message-body {
  margin: 0 !important;
  padding: 0 !important;
  width: auto;
  height: auto;
}

.user-message-main-receiveBox {
  /*padding: 10px 20px;*/
  max-width: 60%;
}

.user-message-main-sendBox {
  padding: 3px 20px !important;
  margin-left: 40% !important;
  max-width: 60%;
}

.user-message-text {
  margin: 0 !important;
  padding: 5px !important;
  word-wrap: normal;
  font-weight: 200;
  font-size: 14px;
  padding-bottom: 0 !important;
}

.user-message-time {
  margin: 0 !important;
  margin-left: 50px !important;
  font-size: 12px;
  text-align: right;
  color: #9a9a9a;
}
.receiveBox {
  width: auto !important;
  padding: 4px 10px 7px !important;
  border-radius: 10px 10px 0 10px;
  background: white;
  font-size: 12px;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  word-wrap: normal;
  display: inline-block;
  margin-top: 20px;
  justify-content: left;
  float: left;
}

.sendBox {
  float: right;
  width: auto !important;
  background: white;
  border-radius: 0 10px 10px 10px;
  padding: 4px 10px 7px !important;
  font-size: 12px;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  display: inline-block;
  word-wrap: normal;
  margin-top: 1px;
  justify-content: right;
}

/*respond*/

.respond {
  height: 60px;
  width: 100%;
  background-color: #765eb8;
  padding: 10px 5px 10px 5px !important;
  margin: 0 !important;
  z-index: 1000;
  display: flex;
  justify-content: center;
}

.respond-send {
  padding: 5px !important;
}

.respond-send i {
  text-align: center;
  padding: 5px !important;
  color: #93918f;
  cursor: pointer;
}

.respond-main {
  padding: 2px 5px !important;
  width: 95%;
}

.respond-main textarea {
  width: 100%;
  resize: none;
  overflow: hidden;
  padding: 8px 5px !important;
  outline: none;
  border: none;
  text-indent: 5px;
  box-shadow: none;
  height: 100%;
  font-size: 16px;
  font-weight: 500;
}

.respond-main textarea:focus {
  outline: none;
  border: none;
  text-indent: 5px;
  box-shadow: none;
}

@media screen and (max-width: 1150px) {
  .chatHead-dot {
    width: 10%;
    padding-top: 5px;
  }
  .chatHead-user-name {
    margin-left: 10px;
  }
}

@media screen and (max-width: 920px) {
  .chatHead-dot {
    width: 12%;
  }
}

@media screen and (max-width: 760px) {
  .chatHead-userpic {
    width: 10%;
  }
  .mainSearch-inner {
    width: 89%;
  }
}

@media screen and (min-width: 700px) {
  .mobile-only {
    display: none;
  }
}

@media screen and (max-width: 700px) {
  .chatApp {
    top: 0;
    height: 100%;
  }
  .chatWindow {
    display: none;
  }
  .chatHead {
    height: 70px;
    background-color: #765eb8;
  }

  .chatHead-userpic {
    padding: 0 !important;
  }
  .chatHead-user-pic img {
    height: 50px;
    width: 50px;
  }
  .chatHead-compose {
    padding: 5px !important;
  }
  .chatHead-compose i {
    color: #fff;
    cursor: pointer;
  }
  .chatHead-dot {
    padding: 5px !important;
    margin-left: 10px !important;
  }
  .chatHead-dot i {
    color: #fff;
    cursor: pointer;
  }
  .userListBar {
    height: calc(100% - 130px);
  }
  .userListBar-body {
    height: 90px;
  }
  .userListBar-userpic {
    text-align: left;
    padding: 0 8px !important;
  }
  .userpic-icon img {
    height: 55px;
    width: 55px;
  }
  .userListBar-main {
    padding: 0 !important;
  }
  .userListBar-main .row {
    padding: 0 !important;
    margin: 0 !important;
  }
  .userListBar-name {
    padding: 10px 5px !important;
  }
  .user-name {
    font-size: 16px;
    padding: 5% !important;
  }
  .userListBar-time {
    padding: 0 10px !important;
  }
  .time-meta {
    text-align: right;
    font-size: 14px;
    padding: 4% !important;
    color: rgba(0, 0, 0, 0.4);
    vertical-align: baseline;
  }

  /*chatWindow*/
  .chatWindow {
    padding: 0 !important;
    margin: 0 !important;
    height: 100%;
    /*width: 100%;*/
    border-left: 1px solid rgba(0, 0, 0, 0.08);
    /*overflow-y: auto;*/
  }
  .user-message {
    height: calc(100% - 140px);
  }
  .respond {
    height: 70px;
  }

  .respond-main {
    padding: 2px 8px !important;
  }
  .respond-main textarea {
    padding: 8px !important;
    font-size: 18px;
  }

  .respond-send {
    padding: 5px 0 !important;
  }
  .respond-send i {
    padding: 5px 2px 5px 0 !important;
    font-size: 1.8em !important;
  }
  .chatApp {
    top: 0;
    height: 100%;
  }
  .chatHead-userpic {
    display: none !important;
  }
  .user-pic img {
    height: 55px;
    width: 55px;
  }
  .user-name {
    padding-left: 0 !important;
  }
  .pending-user-message {
    font-size: 16px;
    margin-top: 10px;
    height: 30px;
    width: 30px;
  }
  .chatHead {
    background-color: white;
  }
  .mobile-action {
    display: block;
    border-bottom: 1px solid #000000;
    color: #765eb8;
    height: 6%;
  }
  .mobile-action a {
    color: #765eb8;
    font-size: 20px;
  }
  .mobile-action i {
    font-size: 1.8em;
  }
  .mobile-only-title {
    border-bottom: 1px solid #000;
    height: 7%;
  }
  .mobile-only-title span {
    color: #000;
    font-weight: 800;
    font-size: 25px;
  }
  #userSearch {
    text-align: center;
  }
  .form-control-feedback {
    left: 25% !important;
  }
  .userListBar {
    height: calc(100% - 255px);
  }
  .mobile-bottom-menu {
    border-top: 1px solid black;
    padding: 10px !important;
    margin: 0 !important;
    height: 9%;
    background-color: white;
  }
  .mobile-bottom-menu i {
    font-size: 2.1em;
    color: #765eb8;
    padding: 5px;
    text-align: center;
  }
  .mobile-bottom-menu i span {
    font-size: 0.5em;
    display: block;
    color: black;
  }
  .mobile-bottom-menu i.center {
    position: absolute;
    left: 50%;
    bottom: 0.5%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
  }
}

@media screen and (max-width: 480px) {
  .form-control-feedback {
    left: 20% !important;
  }
}

@media screen and (max-width: 420px) and (max-height: 1000px) {
  .mobile-bottom-menu i.center {
    bottom: -2.99%;
  }
}

@media screen and (max-width: 400px) and (max-height: 800px) {
  .mobile-bottom-menu {
    height: 10%;
  }
  .userListBar {
    height: calc(100% - 239px);
  }
  .mobile-bottom-menu i.center {
    bottom: -2.5%;
  }
  .form-control-feedback {
    left: 12% !important;
  }
}

@media screen and (max-width: 400px) and (max-height: 670px) {
  .mobile-bottom-menu {
    height: 11%;
  }
  .userListBar {
    height: calc(100% - 232px);
  }
}

@media screen and (max-width: 700px) and (max-height: 420px) {
  .mobile-action {
    height: 8%;
  }
  .mobile-action a {
    font-size: 10px;
  }
  .mobile-action i {
    font-size: 1em;
  }
  .mobile-only-title {
    height: 10%;
  }
  .mobile-only-title span {
    font-size: 15px;
  }
  #userSearch {
    font-size: 13px;
    height: 28px;
  }
  .mainSearch-inner {
    width: 100%;
    padding: 0 !important;
  }
  .mobile-search {
    height: 48px !important;
  }
  .user-pic img {
    height: 30px;
    width: 30px;
  }
  .userListBar-body {
    height: 53px;
  }
  .userListBar-userpic {
    width: 10%;
  }
  .userListBar-body {
    padding: 10px 5px !important;
  }
  .userListBar-main {
    width: 88%;
  }
  .userListBar-name {
    padding: 0px 5px !important;
  }
  .user-name {
    font-size: 12px;
  }
  .user-user-message-highlight {
    font-size: 70%;
  }
  .userListBar {
    height: calc(100% - 170px);
  }
  .mobile-bottom-menu {
    height: 13%;
  }
  .mobile-bottom-menu i {
    font-size: 1.3em;
  }
  .mobile-bottom-menu i.center {
    bottom: -4%;
  }
  .time-meta {
    font-size: 10px;
    padding: 1% !important;
  }
  .pending-user-message {
    font-size: 10px;
    margin-top: -4px;
    height: 15px;
    width: 15px;
    padding: 2px;
  }
  .has-feedback {
    margin-bottom: 0 !important;
  }
  .form-control-feedback {
    width: 30px;
    height: 30px;
    line-height: 30px;
  }
}
